@model SessionPjct.Session

@{
    ViewBag.Title = "Delete";
}

@*<h3>Delete</h3>*@
<div style="padding-top:20px">
    <h4 style="color:chocolate">Please check the details before you gonna delete</h4><br>
</div>

<div>
    <div class="row" style="padding-left:30px">
        <div class="col-2" style="padding-top:8px">
            <h5>SessionInfo</h5>
        </div>

        <div class="col-2">
            <strong class="btn btn-outline-info">
                @Html.ActionLink("Back to List", "Index")
            </strong>
        </div>
    </div>

    <hr />
    <br>
    <div class="row" style="padding-left:50px">
        <div class="col-md-3">
            <dl>
                <dt>
                    @Html.DisplayNameFor(model => model.SessionName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SessionName)
                </dd>
                
                <dt>
                    @Html.DisplayNameFor(model => model.SessionDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SessionDate)
                </dd>
            </dl>
        </div>

        <div class="col-md-3">
            <dl>
                <dt>
                    @Html.DisplayNameFor(model => model.SessionStart)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SessionStart)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SessionEnd)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SessionEnd)
                </dd>
            </dl>
        </div>
        <div class="col-md-3">
            <dl>
                <dt>
                    @Html.DisplayNameFor(model => model.SessionAmount)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SessionAmount)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SessionCount)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SessionCount)
                </dd>

            </dl>
        </div>
    </div>
    <br>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div style="padding-left:30%">
            <button type="submit" class="btn btn-danger" value="Delete">Delete</button>
        </div>
    }
</div>
